<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="console" type="Console" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}" />
		<target name="logfile" type="File" fileName="${basedir}\logs\${date:format=yyyy-MM-dd}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>