@using SftpScheduler.BLL.Data;
@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Settings";

    List<SelectListItem> DigestDayOptions = new List<SelectListItem>();
    for (int i=0; i<= 23; i++)
    {
        string hr = i.ToString();
        DigestDayOptions.Add(new SelectListItem(hr.PadLeft(2, '0') + ":00", hr));
    }


    void RenderDigestCheckBox(DayOfWeek dayOfWeek)
    {
        <input type="checkbox" id="settings-digest-day-@dayOfWeek" value="@dayOfWeek" v-model="settings.digestDays" style="margin-right:3px;" />
        <label for="settings-digest-day-@dayOfWeek" class="form-check-label">@dayOfWeek.ToString().ToUpper().Substring(0, 3)</label>
        @Html.Raw("&nbsp;")
    }
}
@section PageActionMenu {
}
@section Scripts {
    <environment-script src="~/js/models/settings.js"></environment-script>
    <environment-script src="~/js/pages/settings/index.js"></environment-script>
}
<div id="app-settings" v-cloak>

    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-settings-general" data-toggle="pill" href="#tab-settings-general-content" role="tab" aria-controls="tab-settings-general-content" aria-selected="true">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-settings-smtp" data-toggle="pill" href="#tab-settings-smtp-content" role="tab" aria-controls="tab-settings-smtp-content" aria-selected="false">SMTP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-settings-notifications" data-toggle="pill" href="#tab-settings-notifications-content" role="tab" aria-controls="tab-settings-notifications-content" aria-selected="false">Notifications</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                @* General settings tab *@
                <div class="tab-pane fade show active" id="tab-settings-general-content" role="tabpanel" aria-labelledby="tab-settings-general">
                    <form class="form-horizontal">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-info"></i> Alert!</h5>
                            Changing any of these values will require a restart of the SftpScheduler service.  If the service fails to
                            start after changing these values, check the error logs for the reason and manually change the values in the
                            startup.settings.json file in the Data folder.
                        </div>
                        <div class="form-group row">
                            <label for="settings-max-concurrent-jobs" class="col-sm-2 col-form-label">Concurrent Jobs</label>
                            <div class="col-sm-4">
                                <input type="number" v-model="settings.maxConcurrentJobs" size="2" min="1" max="20" class="form-control" id="settings-max-concurrent-jobs" autocomplete="false">
                                <span class="feedback">
                                    Be careful with this setting.  Too many concurrent jobs may overload the server or your network.  
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-port" class="col-sm-2 col-form-label">Port</label>
                            <div class="col-sm-4">
                                <input type="number" v-model="settings.port" size="5" min="1" max="49151" class="form-control" id="settings-port" autocomplete="false">
                                <span class="feedback">
                                    This is the port number used by the application.  Default port number is 8642.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-certificate-path" class="col-sm-2 col-form-label">Certificate Path</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="settings.certificatePath" size="5" maxlength="256" class="form-control" id="settings-certificate-path" autocomplete="false">
                                <span class="feedback">
                                    The absolute path to a valid certificate .pfx file.  Leave this blank to continue using HTTP.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-certificate-password" class="col-sm-2 col-form-label">Certificate Password</label>
                            <div class="col-sm-4">
                                <input type="password" v-model="settings.certificatePassword" size="5" maxlength="256" class="form-control" id="settings-certificate-password" autocomplete="false">
                                <span class="feedback">
                                    The password accompanying the certificate path.
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                @* SMTP tab *@
                <div class="tab-pane fade" id="tab-settings-smtp-content" role="tabpanel" aria-labelledby="tab-settings-smtp">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="settings-smtp-host" class="col-sm-2 col-form-label">Host</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="settings.smtpHost" @@blur="settings.validateSmtpHost()" class="form-control" id="settings-smtp-host" placeholder="mail.yourdomain.com or 192.168.0.1">
                                <span v-if="!settings.isSmtpHostValid" class="error invalid-feedback">Please provide a valid host</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-port" class="col-sm-2 col-form-label">Port</label>
                            <div class="col-sm-4">
                                <input type="number" v-model="settings.smtpPort" size="2" min="1" max="65536" class="form-control" id="settings-smtp-port" autocomplete="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-user" class="col-sm-2 col-form-label">User name</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="settings.smtpUserName" class="form-control" id="settings-smtp-user" placeholder="User name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-4">
                                <input type="checkbox" class="form-check-label" id="smtp-password-unchanged" v-model="settings.smtpPasswordIgnored" /> <label for="smtp-password-unchanged">Leave unchanged</label><br />
                                <input type="password" v-model="settings.smtpPassword" class="form-control" id="settings-smtp-password" placeholder="" :readonly="settings.smtpPasswordIgnored">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-ssl-enabled" class="col-sm-2 col-form-label">SSL Enabled</label>
                            <div class="col-sm-4">
                                <input type="checkbox" id="smtp-ssl-enabled" v-model="settings.smtpEnableSsl" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-from-name" class="col-sm-2 col-form-label">From Name</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="settings.smtpFromName" class="form-control" id="settings-smtp-from-name" placeholder="SftpScheduler">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-smtp-from-email" class="col-sm-2 col-form-label">From Email</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="settings.smtpFromEmail" @@blur="settings.validateSmtpFromEmail()" class="form-control" id="settings-smtp-from-email" placeholder="donotreply@yourdomain.com">
                                <span v-if="!settings.isSmtpFromEmailValid" class="error invalid-feedback">Please provide a valid email address</span>
                            </div>
                        </div>
                    </form>
                </div>
                @* Notifications tab *@
                <div class="tab-pane fade" id="tab-settings-notifications-content" role="tabpanel" aria-labelledby="tab-settings-notifications">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="settings-digest-days" class="col-sm-2 col-form-label">Email Digest Days</label>
                            <div class="col-sm-4">
                                @{
                                    RenderDigestCheckBox(DayOfWeek.Monday);
                                    RenderDigestCheckBox(DayOfWeek.Tuesday);
                                    RenderDigestCheckBox(DayOfWeek.Wednesday);
                                    RenderDigestCheckBox(DayOfWeek.Thursday);
                                    RenderDigestCheckBox(DayOfWeek.Friday);
                                    RenderDigestCheckBox(DayOfWeek.Saturday);
                                    RenderDigestCheckBox(DayOfWeek.Sunday);
                                }
                                <br />
                                <span class="feedback">
                                    If days are selected and SMTP properties have been captured, an email will be sent to all administrators on these days if there are failing jobs.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-digest-time" class="col-sm-2 col-form-label">Email Digest Time</label>
                            <div class="col-sm-4">
                                <select v-model="settings.digestTime" class="form-control" asp-items="DigestDayOptions">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" @@click="submit" class="btn btn-primary" :disabled="isLoading">Save Settings</button>
                <button type="button" @@click="openTestEmailDialog" class="btn btn-info" v-if="isSmtpTabSelected" style="margin-left:10px;">Send Test Email</button>
            </div>
        </div>
        <div class="overlay dark" v-if="isLoading">
            <i class="fa fa-2x fa-spin fa-spinner" data-fa-transform="rotate-45"></i>
        </div>
    </div>

    @* TEST EMAIL DIALOG *@
    <div class="modal fade" id="modal-test-email" tabindex="-1" role="dialog" aria-labelledby="modal-delete-host-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-test-email-label">Send Test Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="settings-test-email-to-address" class="col-sm-4 col-form-label">To Address</label>
                            <div class="col-sm-8">
                                <input type="email" v-model="testEmailToAddress" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-test-email-subject" class="col-sm-4 col-form-label">Subject</label>
                            <div class="col-sm-8">
                                <input type="text" v-model="testEmailSubject" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="settings-test-email-subject" class="col-sm-4 col-form-label">Body</label>
                            <div class="col-sm-8">
                                <input type="text" v-model="testEmailBody" class="form-control" maxlength="255" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark btn-primary" v-on:click="sendTestEmail">Send</button>
                </div>
            </div>
        </div>
    </div>

</div>


