@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Dashboard";
}
@section PageActionMenu {
}
@section Scripts {
    <environment-script src="~/js/pages/dashboard/index.js"></environment-script>
}

<div id="app-dashboard" class="row" v-cloak>

    <div v-if ="isNewVersionAvailable" class="col-md-12">
        <div class="alert alert-info" role="alert"> Version <strong id="span-version">{{ latestVersion }}</strong> is available for download. <a href="~/update/install">Click here</a> to begin the update. </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-info">
            <span class="info-box-icon"><i class="fa fa-right-left"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Jobs</span>
                <span class="info-box-number">{{ jobTotalCount }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>

        </div>

    </div>

    @*
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    70% Increase in 30 Days
                </span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Events</span>
                <span class="info-box-number">41,410</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    70% Increase in 30 Days
                </span>
            </div>

        </div>

    </div>
    *@

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box" :class="jobFailingClass">
            <span class="info-box-icon"><i class="fas fa-triangle-exclamation"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Failing jobs</span>
                <span class="info-box-number">{{ jobFailingCount }}</span>
                <div class="progress">
                    <div class="progress-bar" :style="'width: ' + jobFailingPercentage + '%'"></div>
                </div>
            </div>
        </div>

    </div>

</div>