@using SftpScheduler.BLL.Data;
@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Change Password";

}
@section PageActionMenu {
}
@section Scripts {
    <environment-script src="~/js/pages/auth/change-password.js"></environment-script>
}
<div id="app-change-password" v-cloak>

    <div class="card card-info">
        <!-- form start -->
        <div class="card-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Current Password</label>
                    <div class="col-sm-4">
                        <input type="password" v-model="passwordCurrent" class="form-control" id="passwordCurrent" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">New Password</label>
                    <div class="col-sm-4">
                        <input type="password" v-model="passwordNew" @@keyup="validate" class="form-control" id="passwordNew" placeholder="">
                        <span v-if="!isPasswordNewValid" class="invalid-feedback">Passwords must be at least 5 characters</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password-confirm" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" v-model="passwordConfirm" @@keyup="validate" class="form-control" id="password-confirm" placeholder="">
                        <span v-if="!isPasswordConfirmValid" class="invalid-feedback">Confirmation password must be the same as password</span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" @@click="updatePassword" class="btn btn-info" :disabled="!isValid">Update Password</button>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!-- /.card-body -->
        <div class="overlay dark" v-if="isLoading">
            <i class="fa fa-2x fa-spin fa-spinner" data-fa-transform="rotate-45"></i>
        </div>
    </div>
</div>


