<!DOCTYPE html>
@{
    var title = $"SftpScheduler v{ViewBag.Version}";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte/adminlte.min.css">
    <environment-style href="~/css/custom.css" />
</head>
<body class="hold-transition login-page">
<div id="app-login" class="login-box">
  <!-- /.login-logo -->
  <div class="card card-primary">
    <div class="card-header login-header text-center">
        <img src="/img/logo_login.png" width="360" height="87" alt="SftpScheduler" />
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form method="post" action="/auth/login">
        <div class="input-group mb-3">
          <input v-model="userName" id="login-username" type="text" class="form-control" placeholder="User name" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input v-model="password" v-on:keyup.enter="login" type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
                <a href="forgot-password.html" style="display:none;">I forgot my password</a>
            </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="button" @@click="login" class="btn btn-primary btn-block" :disabled="isLoading">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/plugins/axios/axios.min.js"></script>
<script src="~/plugins/mitt/mitt.umd.js"></script>
<environment-script src="~/plugins/vue/vue.global.js" prod-suffix=".prod.js"></environment-script>
<environment-script src="~/js/adminlte/adminlte.js"></environment-script>
<environment-script src="~/js/common.js"></environment-script>
<environment-script src="~/js/pages/auth/login.js"></environment-script>
</body>
</html>
