@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Jobs - Create New Job";

}
@section PageActionMenu {
}

<form class="form-horizontal">
    <div class="card card-info">
    <!-- form start -->
    <div class="card-header">
        <h3 class="card-title">Server Details</h3>
    </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="job-name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="job-name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="job-host" class="col-sm-2 col-form-label">Host</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="job-host" placeholder="sftp.yourhost.com or 192.168.0.1">
                </div>
            </div>
            <div class="form-group row">
                <label for="job-port" class="col-sm-2 col-form-label">Port</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="job-port" value="22" placeholder="22">
                </div>
            </div>
            <div class="form-group row">
                <label for="job-user" class="col-sm-2 col-form-label">User name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="job-user" placeholder="User name">
                </div>
            </div>
            <div class="form-group row">
                <label for="job-password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="job-password" placeholder="">
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
        <div class="card card-info">
            <!-- form start -->
            <div class="card-header">
                <h3 class="card-title">Schedule</h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="job-schedule-type" class="col-sm-2 col-form-label">Schedule Type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="job-schedule-type" placeholder="Name">
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Create Job</button>
                <button type="submit" class="btn btn-default float-right">Cancel</button>
            </div>
            <!-- /.card-footer -->
        </div>
    </form>
