@using SftpScheduler.BLL.Data;
@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Jobs";

}
@section PageActionMenu {
}
@section Scripts {
    <environment-script src="~/js/models/job.js"></environment-script>
    <environment-script src="~/js/pages/job/form.js"></environment-script>
}
<div id="app-job" data-job-id="@Model.JobId" v-cloak>

    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-job-detail" data-toggle="pill" href="#tab-job-detail-content" role="tab" aria-controls="tab-job-detail-content" aria-selected="true">Details</a>
                </li>
                <li v-if="isEdit" class="nav-item">
                    <a class="nav-link" id="tab-job-logs" data-toggle="pill" href="#tab-job-logs-content" role="tab" aria-controls="tab-job-logs-content" aria-selected="false">Logs</a>
                </li>
                <li v-if="isEdit" class="nav-item">
                    <a class="nav-link" id="tab-job-filelogs" data-toggle="pill" href="#tab-job-filelogs-content" role="tab" aria-controls="tab-job-filelogs-content" aria-selected="false">File Logs</a>
                </li>
                <li v-if="isEdit" class="nav-item">
                    <a class="nav-link" id="tab-job-auditlogs" data-toggle="pill" href="#tab-job-auditlogs-content" role="tab" aria-controls="tab-job-auditlogs-content" aria-selected="false">Audit Logs</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                @* TAB: Job Form *@
                <div class="tab-pane fade show active" id="tab-job-detail-content" role="tabpanel" aria-labelledby="tab-job-detail">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label for="job-type" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-2">
                                <select v-model.number="job.type" class="form-control" id="job-type" @@blur="job.validateType()" @@change="onTypeChange">
                                    <option value="0"></option>
                                    <option value="1">@JobType.Download</option>
                                    <option value="2">@JobType.Upload</option>
                                </select>
                                <span v-if="!job.isTypeValid" class="invalid-feedback">Please select a job type</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="job.name" @@blur="job.validateName()" class="form-control" id="job-name" placeholder="Name">
                                <span v-if="!job.isNameValid" class="invalid-feedback">Please provide a name at least 3 characters long</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-host" class="col-sm-2 col-form-label">Host</label>
                            <div class="col-sm-4">
                                <select v-model="job.hostId" class="form-control" id="job-host" @@blur="job.validateHost()">
                                    <option value="0"></option>
                                    <option v-for="h in allHosts" :value="h.id">{{ h.name }}</option>
                                </select>
                                <span v-if="!job.isHostValid" class="invalid-feedback">Please select a host</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-schedule" class="col-sm-2 col-form-label">Schedule</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="schedule" class="form-control" id="job-schedule" placeholder="0 0/15 * ? * * *" autocomplete="false">
                                <span class="invalid-feedback" :class="{ 'valid-feedback' : job.isScheduleValid }">{{ scheduleInWords }}</span>
                            </div>
                            <div class="col-sm-1">
                                <a href="javascript:void(0)" data-toggle="tooltip" 
                                    title="Cron expressions allow for an extremely flexible scheduling system. If you are unfamiliar with creating cron expressions, click the information icon for a free online expression generator.">
                                    <i class="fa fa-circle-question"></i>
                                </a>
                                &nbsp;
                                <a href="https://www.freeformatter.com/cron-expression-generator-quartz.html" target="_blank" 
                                   title="Go to freeformatter.com to build your cron expression"><i class="fa fa-circle-info"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-transfer-mode" class="col-sm-2 col-form-label">Transfer Mode</label>
                            <div class="col-sm-2">
                                <select v-model.number="job.transferMode" class="form-control" id="job-transfer-mode">
                                    <option value="0">Binary</option>
                                    <option value="1">Ascii</option>
                                    <option value="2">Automatic</option>
                                </select>
                            </div>
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-1">
                                <a href="javascript:void(0);" data-toggle="tooltip" 
                                    title="This option allows you to select the mode of transfer.  ASCII should only be selected when the job will only transfer text files and you want the format of the file appropriate for the target system.  Binary mode will transfer an identical copy of the file and should be used for most jobs.">
                                    <i class="fa fa-circle-question"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-file-mask" class="col-sm-2 col-form-label">File Mask</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="job.fileMask" class="form-control" id="job-file-mask" />
                            </div>
                            <div class="col-sm-1">
                                <a href="javascript:void(0);" data-toggle="tooltip"
                                   title="Use the asterisk [*] as a wildcard, so [*.txt] will result in only files with a [.txt] extension being transferred. Set to blank or [*.*] to transfer all files.">
                                   <i class="fa fa-circle-question"></i>
                               </a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-local-path" class="col-sm-2 col-form-label">Local Path</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="job.localPath" @@blur="job.validateLocalPath()" class="form-control" id="job-local-path" placeholder="\\server\share">
                                <span v-if="!job.isLocalPathValid" class="invalid-feedback">Please provide a valid local path</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="job-remote-path" class="col-sm-2 col-form-label">Remote Path</label>
                            <div class="col-sm-4">
                                <input type="text" v-model="job.remotePath" @@blur="job.validateRemotePath()" class="form-control" id="job-remote-path" placeholder="/RemoteFolder/">
                                <span v-if="!job.isRemotePathValid" class="invalid-feedback">Please provide a valid remote path</span>
                            </div>
                        </div>
                        <div v-if="isDownloadVisible()">
                            <div class="form-group row">
                                <label for="job-remote-delete" class="col-sm-2 col-form-label">Delete</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input type="checkbox" v-model="job.deleteAfterDownload" @@change="job.validateRemoteArchivePath()" class="form-check-input" id="job-remote-delete" />
                                        <label class="form-check-label" for="job-remote-delete">Remote files will be removed after download</label>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!job.deleteRemoteAfterDownload" class="form-group row">
                                <label for="job-remote-archive-path" class="col-sm-2 col-form-label">Remote Archive Path</label>
                                <div class="col-sm-4">
                                    <input type="text" v-model="job.remoteArchivePath" @@blur="job.validateRemoteArchivePath()" class="form-control" id="job-remote-archive-path" placeholder="/RemoteFolder/Archive/">
                                    <span v-if="!job.isRemoteArchivePathValid" class="invalid-feedback">Please provide a valid remote archive path</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="job-local-copy-paths" class="col-sm-2 col-form-label">Local Copy Paths</label>
                                <div class="col-sm-4">
                                    <input type="text" v-model="job.localCopyPaths" class="form-control" id="job-local-copy-paths" placeholder="\\server\folder1;\\server\folder2;C:\Temp" />
                                </div>
                            </div>
                        </div>
                        <div v-if="isUploadVisible()">
                            <div class="form-group row">
                                <label for="job-restart-on-failure" class="col-sm-2 col-form-label">Restart on failure</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input type="checkbox" v-model="job.restartOnFailure" class="form-check-input" id="job-restart-on-failure" />
                                    </div><br />
                                </div>
                                <div class="col-sm-1">
                                    <a href="javascript:void(0);" data-toggle="tooltip" 
                                        title="When checked, uploads will restart from the beginning on job failure. This should only be turned on where servers or remote permissions do not support resuming transfers.">
                                        <i class="fa fa-circle-question"></i></a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="job-preserve-timestamp" class="col-sm-2 col-form-label">Preserve Timestamp</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <input type="checkbox" v-model="job.preserveTimestamp" class="form-check-input" id="job-preserve-timestamp" />
                                    </div><br />
                                </div>
                                <div class="col-sm-1">
                                    <a href="javascript:void(0);" data-toggle="tooltip" 
                                        title="Turn this off when server permissions prevent the timestamp of the file being updated after upload.  By default, this should be left on.">
                                        <i class="fa fa-circle-question"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="job-compression-mode" class="col-sm-2 col-form-label">Compression Mode</label>
                                <div class="col-sm-4">
                                    <select v-model.number="job.compressionMode" class="form-control" id="job-compression-mode">
                                        <option value="0">None</option>
                                        <option value="1">Zip</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <a href="javascript:void(0);" data-toggle="tooltip" 
                                        title="If a compression mode is set, a compressed copy of the file will be uploaded.  The compressed copy will be removed from the local folder after upload.  Files with an extension matching the selected compression mode will not be compressed (e.g. a zip file will not be zipped again).">
                                        <i class="fa fa-circle-question"></i>
                                     </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" @@click="submit" class="btn btn-info" :disabled="isLoading">{{ submitButtonText }}</button>
                        </div>
                    </form>
                </div>
                @* TAB: Logs *@
                <div class="tab-pane fade" id="tab-job-logs-content" role="tabpanel" aria-labelledby="tab-job-logs">
                    <div v-if="logs.length == 0">
                        No logs exist for this job.
                    </div>
                    <table v-if="logs.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in logs">
                                <td class="text-sm">{{ log.id }}</td>
                                <td class="nowrap text-sm">{{ formatDateTime(log.startDate) }}</td>
                                <td class="nowrap text-sm">{{ formatDateTime(log.endDate) }}</td>
                                <td class="text-sm"><span class="badge badge-padded" :class="getLogClass(log)">{{ log.status }}</span></td>
                                <td class="text-sm"><span class="text-danger">{{ log.errorMessage }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @* TAB: FileTransfer Logs *@
                <div class="tab-pane fade" id="tab-job-filelogs-content" role="tabpanel" aria-labelledby="tab-job-filelogs">
                    <div v-if="fileLogs.length == 0">
                        No file transfer logs exist for this job.
                    </div>
                    <table v-if="fileLogs.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>File Size</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in fileLogs">
                                <td class="text-sm">{{ log.fileName }}</td>
                                <td class="text-sm">{{ log.fileLengthReadable }}</td>
                                <td class="nowrap text-sm">{{ formatDateTime(log.startDate) }}</td>
                                <td class="nowrap text-sm">{{ formatDateTime(log.endDate) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @* TAB: Audit Logs *@
                <div class="tab-pane fade" id="tab-job-auditlogs-content" role="tabpanel" aria-labelledby="tab-job-auditlogs">
                    <div v-if="auditLogs.length == 0">
                        No audit logs exist for this job.
                    </div>
                    <table v-if="auditLogs.length > 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Field Name</th>
                                <th>Before Value</th>
                                <th>After Value</th>
                                <th>User Name</th>
                                <th>Change Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in auditLogs">
                                <td class="text-sm">{{ log.propertyName }}</td>
                                <td class="text-sm">{{ log.fromValue }}</td>
                                <td class="text-sm">{{ log.toValue }}</td>
                                <td class="text-sm">{{ log.userName }}</td>
                                <td class="nowrap text-sm">{{ formatDateTime(log.created) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="overlay dark" v-if="isLoading">
            <i class="fa fa-2x fa-spin fa-spinner" data-fa-transform="rotate-45"></i>
        </div>
    </div>
</div>


