@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Jobs";

}
@section PageActionMenu {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item active"><a href="/jobs/create" class="btn btn-primary bg-gradient-primary">Add Job</a></li>
    </ol>
}

<p>This page will show a list of jobs stats</p>