@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Jobs";
}
@section Scripts {
    <script src="~/js/models/job.js"></script>
    <script src="~/js/pages/job/index.js"></script>
}
@section PageActionMenu {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item active"><a href="/jobs/create" class="btn btn-primary bg-gradient-primary">Add Job</a></li>
    </ol>
}
<div id="app-job">
    <div v-if="jobs.length == 0">
        No jobs have been created.  You will need to <a href="~/hosts/create">create at least one host</a> before you can add jobs.
    </div>
    <table v-if="jobs.length > 0" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Schedule</th>
                <th>Next Run Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="job in jobs">
                <td><a :href="'/jobs/' + job.hashId">{{ job.name }}</a></td>
                <td>
                    {{ job.schedule }}
                    <br />
                    <span class="text-xs text-info">{{ job.scheduleInWords }}</span>
                </td>
                <td>{{ formatDateTime(job.nextRunTime) }}</td>
                <td><a href="#" v-on:click="showDeleteDialog(job)"><i class="fa-regular fa-trash-can"></i></a></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modal-delete-job" tabindex="-1" role="dialog" aria-labelledby="modal-delete-job-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-warning">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-job-label">Confirm : Delete '{{ selectedJob.name }}'</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this job?  All history, logs and details will be removed.  
                    <br /><br />
                    This is a <strong>permanent</strong> decision - you could consider disabling it for now if you are not sure.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-dark" v-on:click="deleteJob(selectedJob.hashId)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

