.brand-link {
    padding: 11px 10px 10px 15px;
}
.inform-alert {
    padding: 0.3rem 0.75rem;
}
@media screen and (max-width: 576px) {
    .inform-alert {
        margin-top: 10px;
    }
}
.invalid-feedback {
    display: inline;
}
.login-header {
    background-color: #007BFF;
    padding: 10px 0px 5px 0px;
}
.logo-header-collapsed {
    display: none;
}
.sidebar-collapse .nav-sidebar .nav-item p {
    margin-left: -10px;
    opacity: 0;
    visibility: hidden;
}
.sidebar-collapse img.logo-header {
    display: none;
}
.sidebar-collapse img.logo-header-collapsed {
    display: inline !important;
}
.valid-feedback {
    color: #28a745;
}
