.inform-alert {
    padding: 0.3rem 0.75rem;
}
@media screen and (max-width: 576px) {
    .inform-alert {
        margin-top: 10px;
    }
}
.invalid-feedback {
    display: inline;
}
.login-header {
    background-color: #007BFF;
    padding: 10px 0px 5px 0px;
}
.valid-feedback {
    color: #28a745;
}
