@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Hosts - Create New Host";
   
}
@section Scripts {
    <script src="~/js/models/host.js"></script>
    <script src="~/js/pages/host/form.js"></script>
}
<div id="app-host">
    <form class="form-horizontal">
        <div class="card card-info">
        <!-- form start -->
            <div class="card-header">
                <h3 class="card-title">Host Details</h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="host-name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="host.name" @@blur="host.validateName()" class="form-control" id="host-name" placeholder="Name">
                        <span v-if="!host.isNameValid" class="error invalid-feedback">Please provide a name at least 5 characters long</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="host-host" class="col-sm-2 col-form-label">Host</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="host.host" @@blur="host.validateHost()" class="form-control" id="host-host" placeholder="sftp.yourhost.com or 192.168.0.1">
                        <span v-if="!host.isHostValid" class="error invalid-feedback">Please provide a valid host</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="host-port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" v-model="host.port" class="form-control" id="host-port" placeholder="22">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="host-user" class="col-sm-2 col-form-label">User name</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="host.userName" class="form-control" id="host-user" placeholder="User name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="host-password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" v-model="host.password" class="form-control" id="host-password" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="host-key-fingerprint" class="col-sm-2 col-form-label">Key Fingerprint</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="host.keyFingerprint" @@blur="host.validateKeyFingerprint()"  class="form-control" id="host-key-fingerprint" placeholder="">
                        <span v-if="host.isKeyFingerprintEmpty" class="error invalid-feedback">No security check will be done against the remote host (not recommended)</span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" @@click="submit" class="btn btn-info" :disabled="isLoading">Create Host</button>
                    <button type="reset" class="btn btn-default float-right">Cancel</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card-body -->
        </div>
    </form>
</div>