@{
    Layout = "_Layout";
    ViewBag.PageTitle = "Update";
}
@section PageActionMenu {
}
@section Scripts {
    <environment-script src="~/js/pages/update/install.js"></environment-script>
}

<div id="app-update" class="row">


    <div class="alert alert-warning col-11">
        <h5><i class="icon fas fa-exclamation-triangle"></i> {{ pageHeader }}</h5>
        <div v-if="isUpdating">
            <p>
                An update to SftpScheduler is being installed. 
            </p>
            <p>
                If this page does not show success within a few minutes, please try the following:
                <ol>
                    <li>On the server, go to the installation folder, and run the "Update.ps1" Powershell script.</li>
                    <li>If this fails, follow the manual installation instructions on <a href="https://github.com/mrsalmon1976/SftpScheduler">https://github.com/mrsalmon1976/SftpScheduler</a> .</li>
                </ol>
            </p>
        </div>
        <div v-else>
            <p>
                To update the software you can:
                <ol>
                    <li>Click the button below to try and install a new version.  This will stop the service and attempt to run a PowerShell script to update the application - this depend on permissions on your server, as well as your anti-virus software.  If this does not work within a few minutes, you can try option 2.</li>
                    <li>On the server, go to the installation folder, and run the "Update.ps1" Powershell script.</li>
                    <li>If this fails, follow the manual installation instructions on <a href="https://github.com/mrsalmon1976/SftpScheduler">https://github.com/mrsalmon1976/SftpScheduler</a> .</li>
                </ol>
            </p>
            <p>
                You can leave this page open while running updates, and it will redirect to the dashboard once the update is complete.
            </p>
            <button class="btn btn-danger" @@click="update()">Install New Version</button>
        </div>
    </div>
    @*
    <div class="progress-group col-11">
        Checking the status of the SftpScheduler service
        <span class="float-right"><b>0</b>/10</span>
        <div class="progress progress-sm">
            <div class="progress-bar bg-primary" style="width: 0%"></div>
        </div>
    </div>
    *@
</div>